*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
 
}

html, body{
    height: 100%;
    width: 100%;
}
#cursur{
    height: 2.1vw;
    width: 2.1vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.665);
    /* background-color: #fff; */
    position: fixed;
    z-index: 999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 13vw 7vw;
}


.line{
    height:fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    gap: 2vw;
}

#line1-part1 h5,h6{
    font-size: 3vw;
    font-weight: 500;
    font-family: 'silk serif';
}
#line1-part1 h5{
    width: 6vw;
    text-align: right;
    /* background-color: red; */
}

.line h2{
    text-transform: uppercase;
    font-size: 5.4vw;
    opacity: 0;
    font-weight: 900;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#loader .line h1{
    text-transform: uppercase;
    font-size: 7vw;
    
}

@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1; 
        font-weight: 500; 
    }

    47%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
        font-weight: 500;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
        font-weight: 500;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
        font-weight: 500;
    }
}



#main{
    position:relative;
    background-color: #111;
    overflow: hidden;
    /* height: 100%;
    width: 100%; */
}

#page1{
    height: 100vh;
    width: 100%;
    background-color:#151515;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 5.8vw;
    opacity:1
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.8vw;
    /* transition: all cubic-bezier(); */
}

#nav-part2 h4{
    font-weight: 500;
}

.hero:nth-child(2){
    margin-top: 7vw;
}
#page1 .hero {
    width: 73%;
    margin-left: 27% ;
    overflow: hidden;
    position: relative;
    z-index: 99999;
    /* background-color: red; */
    
}
#page1 .hero h1{
    font-size: 7.2vw;
    line-height: 7.2vw;
    text-transform: uppercase;
    font-weight: 600;
}
#hero3{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
#hero3 h2{
    font-size: 7.2vw;
    line-height: 7.2vw;
    text-transform: uppercase;
    font-weight: 500;
    padding: .4vw;
    border-bottom: .6vw solid #fff;
    /* text-decoration: underline; */
}

#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}